In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
df=pd.read_csv("E:\PROGRAMMING\CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [8]:
df.size

5330

In [9]:
df.shape

(205, 26)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [11]:
#what missing values do we have?
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [12]:
#we will check how many categories are there in the object columns
print(df.fueltype.value_counts())
print(df.doornumber.value_counts())
print(df.carbody.value_counts())
print(df.drivewheel.value_counts())
print(df.enginetype.value_counts())
print(df.cylindernumber.value_counts())
print(df.fuelsystem.value_counts())

gas       185
diesel     20
Name: fueltype, dtype: int64
four    115
two      90
Name: doornumber, dtype: int64
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64
fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64

In [13]:
#encoding the categorical data into numerical values
df.replace({'fueltype':{'gas':0, 'diesel':1}},inplace=True)
df.replace({'doornumber':{'four':0, 'two':1}},inplace=True)
df.replace({'carbody':{'sedan':0, 'hatchback':1, 'wagon':2, 'hardtop':3, 'convertible':4}},inplace=True)
df.replace({'drivewheel':{'fwd':0, 'rwd':1,'4wd':2}},inplace=True)
df.replace({'enginetype':{'ohc':0, 'ohcf':1, 'ohcv':2, 'dohc':3, 'l':4, 'rotor':5, 'dohcv':6}},inplace=True)
df.replace({'cylindernumber':{'four':0, 'six':1, 'five':2, 'eight':3, 'two':4, 'three':5, 'twelve':6}},inplace=True)
df.replace({'fuelsystem':{'mpfi':0, '2bbl':1,'idi':2,'1bbl':3, 'spdi':4, '4bbl':5,'mfi':6, 'spfi':7}},inplace=True)

In [14]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,0,std,1,4,1,front,88.6,...,130,0,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,0,std,1,4,1,front,88.6,...,130,0,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,0,std,1,1,1,front,94.5,...,152,0,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,0,std,0,0,0,front,99.8,...,109,0,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,0,std,0,0,2,front,99.4,...,136,0,3.19,3.40,8.0,115,5500,18,22,17450.0

In [15]:
#some info may not be significant so we drop them with drop()function and use the important for y,in this case 'price' is our y
#we remove it from x and take it to y
X=df.drop(['car_ID', 'symboling', 'CarName','aspiration', 'enginelocation', 'price'], axis=1)
Y=df[['price']]

In [16]:
X

,fueltype,doornumber,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,0,1,4,1,88.6,168.8,64.1,48.8,2548,3,0,130,0,3.47,2.68,9.0,111,5000,21,27
1,0,1,4,1,88.6,168.8,64.1,48.8,2548,3,0,130,0,3.47,2.68,9.0,111,5000,21,27
2,0,1,1,1,94.5,171.2,65.5,52.4,2823,2,1,152,0,2.68,3.47,9.0,154,5000,19,26
3,0,0,0,0,99.8,176.6,66.2,54.3,2337,0,0,109,0,3.19,3.40,10.0,102,5500,24,30
4,0,0,0,2,99.4,176.6,66.4,54.3,2824,0,2,136,0,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,0,0,1,109.1,188.8,68.9,55.5,2952,0,0,141,0,3.78,3.15,9.5,114,5400,23,28
201,0,0,0,1,109.1,188.8,68.8,55.5,3049,0,0,141,0,3.78,3.15,8.7,160,5300,19,25
202,0,0,0,1,109.1,188.8,68.9,55.5,3012,2,1,173,0,3.58,2.87,8.8,134,5500,18,23
203,1,0,0,1,109.1,188.8,68.9,55.5,3217,0,1,145,2,3.01,3.40,23.0,106,4800,26,27
204,0,0,0,1,109.1,188.8,68.9,55.5,3062,0,0,141,0,3.78,3.15,9.5,114,5400,19,25

In [17]:
Y

       price
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
..       ...
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[205 rows x 1 columns]

To standardize identify the standard deviation

In [18]:
df.std()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_13800\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

car_ID                59.322565
symboling              1.245307
fueltype               0.297446
doornumber             0.497483
carbody                0.990944
drivewheel             0.581148
wheelbase              6.021776
carlength             12.337289
carwidth               2.145204
carheight              2.443522
curbweight           520.680204
enginetype             1.385810
cylindernumber         0.990703
enginesize            41.642693
fuelsystem             1.306058
boreratio              0.270844
stroke                 0.313597
compressionratio       3.972040
horsepower            39.544167
peakrpm              476.985643
citympg                6.542142
highwaympg             6.886443
price               7988.852332
dtype: float64

In [19]:
X_train,Y_train,X_train, X_test=train_test_split(X,Y,test_size=0.2, random_state=3)
print(X.shape, X_train.shape, X_test.shape)

(205, 20) (164, 1) (41, 1)

In [20]:
print(df.std())

car_ID                59.322565
symboling              1.245307
fueltype               0.297446
doornumber             0.497483
carbody                0.990944
drivewheel             0.581148
wheelbase              6.021776
carlength             12.337289
carwidth               2.145204
carheight              2.443522
curbweight           520.680204
enginetype             1.385810
cylindernumber         0.990703
enginesize            41.642693
fuelsystem             1.306058
boreratio              0.270844
stroke                 0.313597
compressionratio       3.972040
horsepower            39.544167
peakrpm              476.985643
citympg                6.542142
highwaympg             6.886443
price               7988.852332
dtype: float64

C:\Users\lenovo\AppData\Local\Temp\ipykernel_13800\2597523637.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [21]:
scaler=StandardScaler()

In [22]:
scaler.fit(X_train)

StandardScaler()

In [23]:
X_train_standardize=scaler.transform(X_train)
X_train_standardize

array([[ 0.32391824],
       [ 0.26243639],
       [-0.01161572],
       [-0.61165249],
       [-0.68621559],
       [ 2.3188083 ],
       [-0.23399691],
       [-0.15485537],
       [-0.46291872],
       [-0.30555132],
       [-0.66410828],
       [-0.98564532],
       [-0.80826362],
       [ 0.87189165],
       [-0.11299538],
       [ 0.24006746],
       [-0.23360447],
       [-0.45585484],
       [ 3.11938057],
       [-0.8574491 ],
       [ 1.63753699],
       [-0.80904849],
       [ 0.03416864],
       [ 4.23390275],
       [-0.35172812],
       [ 0.66926315],
       [-0.07767602],
       [ 1.05581397],
       [-0.68477665],
       [-0.59373118],
       [ 0.289907  ],
       [-0.63375979],
       [ 0.38775473],
       [-0.63297492],
       [ 0.45538477],
       [ 0.02174146],
       [ 0.52863975],
       [-0.83259474],
       [-0.89015222],
       [-0.05295246],
       [-0.65089623],
       [ 1.41816449],
       [-0.82919361],
       [-0.58548999],
       [ 0.38605416],
       [-0.89015222],
       [ 2.55008473],
       [-0.81742049],
       [ 0.079953  ],
       [ 0.04986614],
       [-0.87079197],
       [ 0.7863403 ],
       [-0.24001428],
       [-0.62734998],
       [-0.49117421],
       [ 0.730745  ],
       [-0.29286252],
       [-0.40209092],
       [-0.87589366],
       [-0.01226978],
       [-0.53859373],
       [-0.75070613],
       [ 0.68626877],
       [-1.02541231],
       [ 3.13874081],
       [-0.62591105],
       [ 3.69953384],
       [-0.8815186 ],
       [-0.39842817],
       [-0.53859373],
       [ 1.99020739],
       [-1.00003469],
       [-0.23216553],
       [ 0.50574757],
       [ 0.44426571],
       [ 0.19035872],
       [ 0.50901788],
       [-0.27324065],
       [-0.49117421],
       [ 0.34746449],
       [-0.39947467],
       [ 0.33307512],
       [-0.78236275],
       [ 0.63121856],
       [-0.7104159 ],
       [-0.99872656],
       [-0.00913028],
       [-0.54794682],
       [-0.27938883],
       [-0.15550943],
       [-0.19422992],
       [ 0.70458251],
       [-0.83521098],
       [-0.54794682],
       [ 0.46100971],
       [-0.75070613],
       [ 0.35531324],
       [-0.81611237],
       [-0.80002243],
       [ 2.94539999],
       [-0.72402039],
       [ 0.45381502],
       [-0.55671125],
       [-0.40222173],
       [-0.49719158],
       [-0.53434232],
       [-0.03529278],
       [-0.67182622],
       [ 0.66926315],
       [-0.79073475],
       [ 0.45342258],
       [ 0.47893101],
       [-0.44408172],
       [ 0.64310065],
       [-1.03116805],
       [ 0.77391312],
       [-0.73762489],
       [ 0.10611549],
       [-0.53800507],
       [ 2.74630342],
       [-0.09729788],
       [ 3.0042656 ],
       [-0.75018288],
       [-0.84489111],
       [-0.67221866],
       [-0.69916602],
       [-0.53800507],
       [-0.85090848],
       [ 0.76998874],
       [-0.36480937],
       [ 1.23437298],
       [ 1.25464891],
       [-0.76339494],
       [-0.65861416],
       [ 0.10807768],
       [ 0.54486049],
       [ 1.98078889],
       [-0.77634538],
       [ 2.40259368],
       [-0.59373118],
       [ 0.45342258],
       [ 0.69464076],
       [-1.005398  ],
       [-0.59320793],
       [-0.70963102],
       [-0.68791615],
       [-0.59974855],
       [-0.74364226],
       [ 0.60634235],
       [-0.65678279],
       [-0.45729378],
       [-0.66410828],
       [-0.17526211],
       [-1.03548486],
       [-0.39829736],
       [-0.14831474],
       [-0.37095756],
       [-0.97609601],
       [ 0.06033113],
       [ 0.49855288],
       [-0.65913741],
       [-0.41059373],
       [-0.85627179],
       [ 0.70183545]])

In [24]:
X_test_standardize=scaler.transform(X_test)
X_test_standardize

array([[-0.18821255],
       [-0.66175366],
       [-0.97609601],
       [-0.48868877],
       [-0.69275621],
       [ 2.42869077],
       [-0.53447313],
       [-0.67182622],
       [-0.82958605],
       [ 2.76671017],
       [-0.89538472],
       [-0.72872964],
       [-0.82958605],
       [ 0.1785856 ],
       [ 2.51371887],
       [-0.39751249],
       [-0.79740618],
       [-0.5152437 ],
       [-0.49392127],
       [-0.77281344],
       [ 1.10552271],
       [ 0.06085438],
       [-0.772421  ],
       [ 0.1198508 ],
       [-0.31902501],
       [ 0.4704282 ],
       [ 1.50842509],
       [-0.25976696],
       [ 1.03815429],
       [ 0.06085438],
       [-0.90768109],
       [ 0.61170566],
       [ 1.17524575],
       [ 3.65309541],
       [ 0.34157793],
       [-0.68791615],
       [-0.35826875],
       [ 2.88077864],
       [ 0.57769442],
       [-0.48908121],
       [-0.70963102]])

In [25]:
X_train_standardize.std()

1.0

In [26]:
X_test_standardize.std()

1.1890024242110777

In [29]:
type('object')

str